@import "colors";

.header {
	position: relative;
	margin-top:100px;
	margin-bottom:20px;
	background: $lightGreen;
	height:80px;
	z-index:80;

	.content {
		height:100%;
		padding-top:0px;
		padding-bottom:0px;
		justify-content: space-between;
		align-items:center;
	}
}

.submit-nav {
	cursor:pointer;
	position: relative;
	font-size:22px;
	line-height: 1.4;
	font-weight:bold;
	border-bottom: 3px solid black;
	transform:translateY(-2px);
}

.scrolled-title {
	opacity:0;
	text-align: center;
	position:absolute;
	top:22px;
	left:0;
	right:0;
	margin:0 auto;
}

.menu-toggle {
	cursor: pointer;
	display: block;
	z-index:1000001;
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	width:25px;
	height:27px;

	span {
		display: block;
		height:3px;
		width:100%;
		background-color: black;
	}
}


// 1024px And Below
@media screen and (max-width: 1024px){

	.header {

	}
}


// 767px And Below
@media screen and (max-width: 767px){

	.header {

	}
}
