@import "colors";

.home-page {
	display: flex;
	flex-wrap: wrap;
	background:$lightGreen;
}

.top-five-section {
	position: relative;
	z-index: 2;
	background: $lightGreen;

	.content {
		padding-top:0px;
		padding-bottom:70px;
	}
}

.got-a-salad-prompt {
	font-size:22px;

	.content {
		padding-top:0px;
		padding-bottom:80px;
	}

	span {
		cursor:pointer;
		position: relative;
		top:1px;
		font-weight:bold;
		// line-height: 1.4;
		border-bottom: 3px solid black;
	}

}


// 1024px And Below
@media screen and (max-width: 1024px){


}


// 767px And Below
@media screen and (max-width: 767px){

	.top-five-section {

		.content {
			padding-left:0px;
			padding-right:0px;
			padding-bottom:0px;
		}
	}

	.got-a-salad-prompt {
		display: none;
	}
}
