@import "colors";

.main-menu {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  transform:translateX(-100%);
  z-index: 99;

  .content {
    height:100%;
    margin-top:143px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
  }

  .menu-toggle {
    margin-bottom:60px;
    -webkit-backface-visibility: hidden;
  }

  .mobile-mainmenu-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    top:-15px;
    left:25px;
    z-index:1000002;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    width:25px;
    height:27px;

    span {
      display: block;
      height:3px;
      width:100%;
      background-color: black;
    }
  }

  .background-block {
    position: absolute;
    top:0;
    left:0;
    width:45%;
    height:100%;
    background-color:$lightGray;
  }

  h3 {
    cursor:pointer;
    width:auto;
    display: inline-block;
    margin-bottom:44px;
    border-bottom:8px solid $lightGray;
    padding-bottom: 2px;
    transition:border-color .3s;
  }

  .about-toggle {
    &:hover {
      border-color:$yellow;
    }

    &.hover-add {
      border-color:$yellow;
    }
  }



  .submit-toggle {
    &:hover {
      border-color:$red;
    }

    &.hover-add {
      border-color:$red;
    }
  }



  .top5-toggle {
    &:hover {
      border-color:$lightGreen;
    }
  }

  .slouch-toggle {
    &:hover {
      border-color:$blueGreen;
    }
  }

  .try-toggle {
    &:hover {
      border-color:$green;
    }
  }
}

// 1024px And Below
@media screen and (max-width: 1024px){

	.header {

	}
}


// 767px And Below
@media screen and (max-width: 767px){

	.main-menu {

    .mobile-mainmenu-toggle {
    	cursor: pointer;
      display: block;
      position: absolute;
      top:15px;
      left:25px;
    	z-index:1000002;
    	display: flex;
    	flex-wrap:wrap;
    	align-items:center;
    	justify-content:center;
    	width:25px;
    	height:27px;

    	span {
    		display: block;
    		height:3px;
    		width:100%;
    		background-color: black;
    	}
    }

    .background-block {
      width:100%;
      display: none;
    }

    .content {
      margin:0;
      padding:0;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }

    h3 {
      text-align: center;
      width:100%;
      margin-bottom:0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom:0px solid $lightGray;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .about-toggle {
      background:$yellow;
    }

    .submit-toggle {
      background:$red;
    }
    .top5-toggle {
      background:$lightGreen;
    }

    .slouch-toggle {
      background:$blueGreen;
    }

    .try-toggle {
      background:$green;
    }
  }
}
