@import "colors";

.single-salad {
	display: flex;
	flex-wrap:wrap;
	align-items: stretch;
	width:100%;
	height: auto;
	background: white;
	margin-bottom:20px;
}

.salad-image {
	height:auto;
	position: relative;
}

.salad-order {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top:0;
	left:0;
	color:white;
	width:75px;
	height:75px;
	background:$green;
}

.salad-order-number {
	font:800 16px/1 'kessel', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	border:4px solid white;
	width:32px;
	height:32px;
	border-radius:50%;
}

.salad-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding:35px 35px 25px 35px;

	.salad-map-link {
		position: relative;
		cursor:pointer;
		display: inline-block;
		text-transform: none;
		color:$black;
		text-decoration: underline;
	}

	hr {
		margin:35px 0 10px 0;
	}
}

.salad-credit {
	width:100%;
	margin-bottom:25px;
}

.salad-description {

}

.salad-ingredients {

	ul {
		columns: 2;
		margin-top: 12px;
	}

	li {
		display: inline-flex;
		width:100%;

		&:before {
			content:'•';
			margin-right:4px;
		}
	}
}

.salad-ranks {

}

.single-salad-rank {
	margin-bottom:20px;

	h5 {
		margin-bottom:6px;
	}

}

.rank-bar {
	height:14px;
	width:100%;
	border:3px solid $black;
	margin-bottom: 6px;

	svg {
		display: block;
		width:100%;
		height:100%;
	}
}

.rank-bar-labels {
	display:flex;
	width:100%;
	justify-content: space-between;
	align-items: flex-start;
}

.texture-bar {
	svg {
		fill:$blueGreen;
	}
}

.dressing-bar {
	svg {
		fill:$lightGreen;
	}
}

.greens-bar {
	svg {
		fill:$red;
	}
}

.rip-class {
	position: relative;

	h4, .salad-description, p, .salad-map-link {
		color:$blueGreen;
	}

	.rip-textline {
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		right:0;


		div {
			opacity:0.5;
			border:5px solid $black;
			text-align: center;
			width:auto;
			height:auto;
			padding:4px 4px 4px 16px;
		}

		h2 {
			font-size:80px;
			letter-spacing: 10px;
			line-height: 1;
			margin: 0;
		}
	}
}


// 1024px And Below
@media screen and (max-width: 1024px){

	.rip-class {

		.rip-textline {

			h2 {
				font-size: 70px;
			}
		}
	}
}


// 767px And Below
@media screen and (max-width: 767px){

	.single-salad {
		margin-bottom:0px;
		margin-top:-1px;
	}

	.salad-image {
		height:330px;
	}

	.salad-info {
		padding-top:25px;
	}

	.rank-bars {
		margin-top:25px;
	}

	.rip-class {

		.rip-textline {
			top:-24px;
		}
	}
}
