@import "colors";

.submit-menu {
  background-color: $red;
  overflow:scroll;

  .content {
    height:auto;
    padding-bottom:30px;
  }

  h3 {
    display: none;
  }

  .wpcf7 {
    width:100%;
  }

  span {
    display: block;
  }

  input, textarea {
    width:100%;
    font:400 16px/1 'persona', sans-serif;
    color:$black;
    padding:15px;
    border:0;
    margin-bottom:24px;
    border-radius: 0px;

    &::placeholder {
      color:$black;
    }
  }

  textarea {
    display: block;
    height:115px;
  }

  input[type="submit"] {
    cursor:pointer;
    background:none;
    outline:none;
    border-width:0px;
    border-bottom:3px solid $black;
    text-align: left;
    display: inline-block;
    width:auto;
    padding:0px;
    padding-bottom:6px;
    font-weight:800;
    font-size:20px;
    transition:all 0.3s ease-in;

    &:hover {
      padding-bottom:4px;
    }
  }

  .wpcf7-response-output, .wpcf7-not-valid-tip {
    font-size:18px;
    line-height: 1.2;
    padding:16px;
    text-align: center;
    border:2px solid red;
  }

  .wpcf7-not-valid-tip {
    text-align: left;
    color:$black;
    padding:12px;
  }

  .wpcf7-mail-sent-ok {
    border:2px solid $green;
  }
}

// 767px And Below
@media screen and (max-width: 767px){

  .submit-menu {

    .content {
      padding-left: 25px;
      padding-right: 25px;
    }

    h3 {
      display: block;
      margin-bottom:40px;
    }

    input, textarea {
      font-size:12px;
      padding:12px;
      padding-top:16px;
    }

    input[type="submit"] {
      cursor:pointer;
      background:none;
      outline:none;
      border:3px solid $black;
      display: block;
      padding:12px;
      margin:0 auto;

      &:hover {
        padding-bottom:0px;
      }
    }
  }
}
